<div>
  <form [formGroup]="todoForm" (ngSubmit)="addTask()" class="task-form">
    <input formControlName="title" placeholder="Add your task here.." class="task-input">
    <button type="submit" id="submit-btn">Add</button>
  </form>

  <!-- Search  -->
  <div class="task-form">
    <input [(ngModel)]="searchQuery" placeholder="Search tasks.." class="task-input">

    <button id="submit-btn" (click)="filterTasks()" class="search-btn">Search</button>

    <button (click)="refreshTasks()" class="refresh-btn">
      <img src="refresh.png" alt="Refresh" class="refresh-icon">
    </button>

  </div>

  @if (filteredTodos.length > 0) {
  <table class="task-table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Completed</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      @for (todo of filteredTodos; track todo; let i=$index) {
      <tr>
        <td [ngClass]="{'completed': todo.isComplete}">{{ todo.title }}</td>
        <td>
          <input type="checkbox" [checked]="todo.isComplete" (change)="setCompletionStatus(i)" />
        </td>
        <td>
          <button (click)="deleteTask(i)">Delete</button>

        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <p style="color: red; text-align: center;">There Are No Tasks !</p>
  }


  
</div>