
.task-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;

  text-align: left;
}

.task-table th,
.task-table td {
  padding: 12px;
  text-align: center;

  border: 1px solid #ddd;
}

.task-table thead {
  background-color: #f4f4f4;
}

.task-table th {
  background-color: #040404;
  color: white;
}

.task-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
  text-align: center;

}

.task-table tbody tr:hover {
  background-color: #f1f1f1;
}

.completed {
  text-decoration: line-through;
  color: #a0a0a0;
}

button {
  background-color: #b83a30;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #c62828;
}

input[type="checkbox"] {
  cursor: pointer;
}